<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="instrumentobean" class="concierto.beans.InstrumentoBean">
		<constructor-arg index="0" value="pom, pom, pom en xml" />
	</bean>
	<bean id="instrumento" class="concierto.instrumentos.Instrumento">
		<constructor-arg index="0" ref="instrumentobean" />
	</bean>
	<bean id="solista" class="concierto.musicos.Solista">
		<constructor-arg index="0" ref="instrumento"/>
	</bean>
</beans>
