.oficial-selects {
  border-radius: 4px;
  padding: 10px;
  background-color: #82c7d8;
  font-size: 1.3em;
}

.oficial-calendario {
  font-family: 'Abel';
  padding-top: 80px;
  text-align: center;  
}

.oficial-selects:hover{
  cursor:pointer;
}

#oficial-tablaCalendario th {
  background-color: rgb(242, 242, 242);  
  color: #70b2c3;
  font-weight: normal;
}

.oficial-table td,
.oficial-table th,
.oficial-table tr {
  border: 1px solid black;
  height: 80px;
  font-size: 30px;
  padding: 20px;
  text-align: center;
}

.oficial-vacia,
#oficial-tablaCalendario tr {
  background-color: #F2F2F2;
}