.regenerar-mensaje{
  text-align:center;
  color:green;
  margin-top:3%;
  font-size:1.2em;
  font-weight:bold;
}

.checks-fondo-controles{  
  background-color: #82c7d8;
  color:black;
  font-weight:bold;
  padding: 8px;
  cursor:pointer;
}

.checks-boton:hover{
  background-color: #ffdacd;
  color: rgb(68,31,231);
}

.checks-boton{ 
  padding-top:13px;
  padding-right:25px; 
  padding-bottom:13px;
  padding-left:25px;
  background-color: #82c7d8;
  font-weight:bold;
}

.checks-h2, .checks-label{
  color: #425056;
}

.checks-container{
  margin-top:250px;
}